/* Set the background color of the entire page */
body {
    background-color: rgb(0, 0, 0);
    font-family:'Merriweather', serif, Arial, sans-serif;
    color: white;
}

/* Underline the title, assuming it's an <h1> element */
h1 {
    text-decoration: underline;
    color: #8b0000;
    text-decoration-color: #8b0000;
    align-self: center;
}

/* Image diminstion fit*/
img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

/*center text*/
.container {
    display: grid;
    place-items: center; /* Center horizontally and vertically */
    height: 100vh; /* Full height of the viewport */
    text-align: center; /* Center text inside the div */
}
