{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} Google Fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Noir Digital Photos</title>
</head>
<body>
    {% comment %} {% for product in products %} {% endcomment %}
    <div>
        {% comment %} <h2>{{product.title}}</h2>
        <img src="{{product.image.url}}" alt="{{product.title}}">
        <p>{{product.description}}</p> {% endcomment %}

        <h1>Horses</h1>
        <img class="lazyload" src="{% static 'images/horses.jpg' %}">
        <h1>Girl</h1>
        <img class="lazyload" src="{% static 'images/girl.jpg' %}">
        <h1>Elephant</h1>
        <img class="lazyload" src="{% static 'images/elephant.jpg' %}">
    

    </div>
<link rel="stylesheet" href="{% static 'products/style.css' %}">
{% comment %} <li><a href="{% url 'products:detail' %}"></a> </li> {% endcomment %}
</body>
</html>

